@tailwind base;

@tailwind components;

@tailwind utilities;

div {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.loading-bar {
  display: block;
  height: 0.2em;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.loading-bar:before {
  content: "";
  display: block;
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: loading-bar 1.5s ease-in-out infinite;
}

@keyframes loading-bar {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
